* {

    box-sizing: border-box !important;
    font-family: 'Arial', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 !important;
    padding: 0 !important;
}

.kapsayici {
    background: linear-gradient(135deg, #89CFF0, #4A90E2);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: 1s ease-in-out;
    overflow: hidden;
    flex-direction: column;
}



.container-sm {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
    backdrop-filter: blur(10px);
}

.input-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

#city {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 200px;
    outline: none;
    font-size: 16px;
}

#getWeatherButton,
.clear-searched {
    padding: 10px;
    border: none;
    background: #FFD700;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#getWeatherButton:hover {
    background: #FFC300;
}

.weather-container {
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.temperature-container,
.humidity-container,
.wind-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

#weatherIcon {
    width: 50px;
    height: 50px;
}

.detail-container {
    align-items: center;
    display: flex;
    gap: 5px;
    justify-content: space-evenly;
}

#humidityIcon,
#windIcon {
    width: 35px;
    height: 35px;
}

#temperature {
    font-size: 35px;
    font-weight: bold;
}

#humidity,
#wind {
    font-size: 18px;
}

h3 {
    display: none;
}

.searchedCitiesContainer {
    display: none;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    text-align: center;
    margin-top: 20px;
}

.clear-searched {
    margin-top: 10px;
}

li {
    list-style-type: none;
    cursor: pointer;
    padding: 5px;
}